<h1>{{ project }}</h1>
<p>Standard home page style to introduce a project.</p>
<p>Venison tri-tip boudin meatloaf, tongue doner ground round pork rump ham hock beef ribs bresaola strip steak shoulder frankfurter. Venison ribeye meatball swine tri-tip brisket bresaola filet mignon chuck shoulder alcatra capicola corned beef leberkas drumstick.</p>

<hr>

<h3><a href="/page">Page</a></h3>
<p>Basic page template.</p>

<hr>

<h3><a href="/404">404</a></h3>
<p>Page not found template.</p>

<hr>

<h3><a href="/503">50X</a></h3>
<p>Broken interweb template.</p>