<h1 id="page-title">Page title</h1>
<p>This sample page template is powered by <a href="https://help.github.com/articles/github-flavored-markdown/">GitHub Flavored Markdown</a> and exists as a <a href="http://paularmstrong.github.io/swig/">Swig template</a> at <code>/views/page.html</code>.</p>

<h2 id="sub-heading-h2-">Sub-heading <em>H2</em></h2>

<h3 id="micro-heading-h3-">Micro-heading <em>H3</em></h3>
<p>Frankfurter boudin sirloin pork chop beef meatloaf alcatra pancetta. Capicola shank boudin leberkas chicken. Venison tri-tip boudin meatloaf, tongue doner ground round pork rump ham hock beef ribs bresaola strip steak shoulder frankfurter. Venison ribeye meatball swine tri-tip brisket bresaola filet mignon chuck shoulder alcatra capicola corned beef leberkas drumstick.</p>

<h3 id="image-embed">Image Embed</h3>
<p><img alt="Lava boom boom" src="//ppcdn.500px.org/63772753/b3e7c88c650481473c555b3a5ff083e99008abc1/2048.jpg"></p>

<h2 id="lists">Lists</h2>

<h3 id="unordered">Unordered</h3>
<ul>
	<li>Venison ribeye</li>
	<li>Meatball swine tri-tip brisket</li>
	<li>Bresaola filet mignon chuck shoulder</li>
	<li>Alcatra capicola</li>
	<li>Corned beef leberkas drumstick</li>
</ul>

<h3 id="ordered">Ordered</h3>
<ol>
	<li>Venison ribeye</li>
	<li>Meatball swine tri-tip brisket</li>
	<li>Bresaola filet mignon chuck shoulder</li>
	<li>Alcatra capicola</li>
	<li>Corned beef leberkas drumstick</li>
</ol>

<h2 id="tables">Tables</h2>
<p>Standard table layout.</p>
<table>
	<thead>
		<tr>
			<th>Ad type</th>

			<th>Dimensions</th>

			<th>Expansion size</th>

			<th>Direction</th>

			<th>Initial</th>

			<th>Max</th>

			<th>Looping</th>

			<th>Rich Media</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Leaderboard</td>
			<td>728 x 90</td>
			<td>728 x 315</td>
			<td>Down</td>
			<td>40 KB</td>
			<td>45 KB</td>
			<td>3 Cycles</td>
			<td>Yes</td>
		</tr>

		<tr>
			<td>Medium Rectangle</td>
			<td>300 x 250</td>
			<td>600 x 250</td>
			<td>Left</td>
			<td>40 KB</td>
			<td>45 KB</td>
			<td>3 Cycles</td>
			<td>Yes</td>
		</tr>

		<tr>
			<td>Half Page</td>
			<td>300 x 600</td>
			<td>600 x 600</td>
			<td>Left</td>
			<td>40 KB</td>
			<td>45 KB</td>
			<td>3 Cycles</td>
			<td>Yes</td>
		</tr>

		<tr>
			<td>Wide Skyscraper</td>
			<td>160 x 600</td>
			<td>--</td>
			<td>Left</td>
			<td>40 KB</td>
			<td>45 KB</td>
			<td>3 Cycles</td>
			<td>Yes</td>
		</tr>

		<tr>
			<td>Super Leaderboard</td>
			<td>970 x 90</td>
			<td>--</td>
			<td>--</td>
			<td>40 KB</td>
			<td>45 KB</td>
			<td>3 Cycles</td>
			<td>Yes</td>
		</tr>

		<tr>
			<td>Welcome Ad</td>
			<td>640 x 480</td>
			<td>--</td>
			<td>--</td>
			<td>60 KB</td>
			<td>80 KB</td>
			<td>--</td>
			<td>Yes</td>
		</tr>

		<tr>
			<td></td>
			<td>320 x 240</td>
			<td>--</td>
			<td>--</td>
			<td>30 KB</td>
			<td>40 KB</td>
			<td>3 Cycles</td>
			<td>Yes</td>
		</tr>
	</tbody>
</table>