##
# Node.js environment settings
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_nodejs_custom_container.html
##
option_settings:
  - option_name: AWS_SECRET_KEY
    value: AKIAIEC77MDH7HNOFH5A
  - option_name: AWS_ACCESS_KEY_ID
    value: ZTPYWzDTuBqGiRii+LdXWepTATEvogY08cxRx0Jx
  - option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public 